body{
    background-image: url("./XOPage.jpg") ;
    filter: brightness(200%);
    background-color: #cccccc;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    position:sticky;
}




.wrapper{
    width: 100%;
    
    margin: 0 auto;
    font-size-adjust: Arial;
    font-size: 1cm;
    position: absolute;
    top: 250px;
    left:25px;
    z-index: 5;
   

    
}

#draw{
    color: blue;
}


#playagain{

    position: absolute;
    background-color: rgb(8, 0, 0);
    color: rgb(252, 248, 248);
    border: 2px solid #f7faf7; /* Green */
    left: 700px;
    top: 450px;
    padding: 14px 40px;
    font-size: 24px;
    z-index: 4;








}

.title{
    text-transform: uppercase ;
    text-align: center;
    color: rgba(59, 59, 59, 0.2);
    background: url("./burn.jpg") repeat-x;
    -webkit-background-clip: text;
    background-size: contain;
    animation: fire 15s linear infinite ;
    font-size: 4cm;
    transform:rotate(-5deg)
    

}

@keyframes fire{
    0%{
        background-position: left 0 top 10px;
    }

    50%{
        background-position: left 130px top -10px;
    }

    100%{
        background-position: left 250px top 0;
    }





}




#bg3D1{
    height:800px;
    
    position: relative;
}

#H3{
    position: absolute;
    left:700px;
    top: 100px;
    z-index: 2;
    font-size: 10cm;
    transform: rotate(10deg);
}

#H2{
    position: absolute;
    left:700px;
    top: 100px;
    z-index: 2;
    font-size: 10cm;
    transform: rotate(-10deg);

}

#H1{
    position: absolute;
    left:720px;
    top: 100px;
    z-index: 2;
    font-size: 10cm;

}


#start{
    position: absolute;
    left:550px;
    top: 190px;
    z-index: 2;
    font-size: 6cm;

}





#XO{
    display: grid;
    grid-template-columns: 200px 200px 200px ;
    grid-template-rows: 200px 200px 200px ;
        
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 500px;
    z-index: 1;
    
}

#pl1lig{
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: rgb(251, 255, 0);
    z-index: 5;
    left:320px;
    top: 62px;
    border-radius: 50%;
    
}

#pl2lig{
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: rgb(0, 2, 37);
    z-index: 5;
    left:60px;
    top: 62px;
    border-radius: 50%;
    
}





#bg3D2{
    height: 200px;
    background-color: rgb(44, 255, 1);
    position: relative;

}

#bg3D2d1{
    height: 200px;
    width: 791px;
    background-color: rgb(223, 3, 58);
    position: absolute;

}


#bg3D2d2{
    height: 200px;
    width: 791px;
    background-color: rgb(20, 15, 7);
    position: absolute;
    left:790px;
}



.i{
    height: 200px;
    width: 200px;
    background-color: rgb(169, 172, 167);
    border: 2px solid rgb(46, 46, 46);  
}


#bg3D1d1{
    position: absolute;
    height: 700px;
    width: 450px;
    
    top:30px;

}


#bg3D1d2{
    position: absolute;
    height: 700px;
    width: 450px;
    
    left :1130px;
    top:30px;

}

#bg3D1d1h1{
    position: absolute;
    left :100px;
    top:50px;
    font-size: 1.5cm;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(226, 226, 226);
    font-weight: bolder;
    text-shadow: 2px 2px #0f0f0f;

}

#bg3dpl1{
    height: 250px;
    width: 250px;
    background-color: rgb(8, 8, 8);
    position: absolute;
    top:200px;
    left:75px;
    background-image: '';
    border: 3px solid rgb(7, 0, 0); 
    border-radius: 12px;
     
}

#bg3hpl1{
   position: absolute;
    left :90px;
    top:500px;
    font-size: 1cm;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(226, 226, 226);
    font-weight: bolder;
    text-shadow: 2px 2px #0f0f0f;
}

#butpl1{
    
 background-color: rgb(5, 5, 5);
  color: rgb(255, 255, 255);
  border: 3px solid #a1a1a1; /* Green */
 border-radius: 12px;
 padding: 10px 24px;
  font-size:24px;
 position: absolute;
  left : 335px;
  top: 550px;
     
}

#butpl1:hover {
    background-color: #ffffff; /* Green */
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px 0 rgba(1, 19, 99, 0.952), 0 17px 50px 0 rgba(0,0,0,0.19);
}








#bg3D1d1h2{
    position: absolute;
    left :130px;
    top:50px;
    font-size: 1.5cm;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(226, 226, 226);
    font-weight: bolder;
    text-shadow: 2px 2px #0f0f0f;

}

#bg3dpl2{
    height: 250px;
    width: 250px;
    background-color: rgb(8, 8, 8);
    position: absolute;
    top:200px;
    left:110px;
    background-image:'';   
    border: 3px solid rgb(7, 0, 0);
    border-radius: 12px;
}

#bg3hpl2{
   position: absolute;
    left :120px;
    top:500px;
    font-size: 1cm;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(226, 226, 226);
    font-weight: bolder;
    text-shadow: 2px 2px #0f0f0f;
}

#butpl2{
    
    background-color: rgb(5, 5, 5);
     color: rgb(255, 255, 255);
     border: 3px solid #a1a1a1; /* Green */
    border-radius: 12px;
    padding: 10px 24px;
     font-size:24px;
    position: absolute;
     left : 10px;
     top: 550px;
        
   }
   
   #butpl2:hover {
       background-color: #ffffff; /* Green */
       color: rgb(0, 0, 0);
       box-shadow: 5px 5px 5px 0 rgba(1, 19, 99, 0.952), 0 17px 50px 0 rgba(0,0,0,0.19);
   }


   



#Titan{
    position: absolute;
    height: 140px;
    width: 1583px;
   
    top:660px;
    display: flex;
    justify-content: space-around;

}





.d{
    height: 140px;
    width: 140px;
    background-color: rgb(163, 167, 160);
    border: 2px solid rgb(7, 0, 0);
    
}


.d{
    transition-duration: 0.4s;
}
  
.d:hover {
    background-color: #e8ebee; /* Green */
    color: white;
    box-shadow: 10px 25px 25px 0 rgba(255, 251, 251, 0.952), 0 17px 50px 0 rgba(0,0,0,0.19);
}









.A{
    background-image: url("./A1.jpg");
    background-position: center;  
}

.At{
    background-image: url("./At.png");
    background-position: center;  
}

.B{
    background-image: url("./B.png");
    background-position: center;  
}

.C{
    background-image: url("./C.jpg");
    background-position: center;  
    
}

.CC{
    background-image: url("./CC.jpg");
    background-position: center;  
}

.F{
    background-image: url("./F.jpg");
    background-position: center;  
}

.J{
    background-image: url("./J.png");
    background-position: center;  
}

.W{
    background-image: url("./W.png");
    background-position: center;  
}





